@using KaffaMaster.Models;
@{
    ViewData["Title"] = "Index";
}


@model List<Blog>

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-primary" asp-action="Create">Create</a>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>blog Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var blog in Model)
                                {
                                    if (!blog.isDeleted)
                                    {
                                        <tr>
                                            <td><img src="~/assets/images/blog/@blog.PosterImage" /></td>
                                            <td>@blog.Title</td>
                                            <td>
                                                <a class="btn btn-info" asp-action="Detail" asp-route-id="@blog.Id">Detail</a>
                                                <a class="btn btn-warning" asp-action="Update" asp-route-id="@blog.Id">Update</a>
                                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@blog.Id">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



