@using KaffaMaster.Models;


@{
    ViewData["Title"] = "Detail";
}

@model Category

<div class="content-wrapper">
    <div class="row d-flex">
        <div class="col-lg-6 ">
            <div class="card" style="width: 18rem; ">
                <img class="card-img-top" src="~/assets/images/categories/@Model.Image" style="max-width: 300px; max-height: 300px" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title d-flex justify-content-center align-items-center">@Model.CategoryName</h2>
                    <form method="post" class="d-flex justify-content-center">
                        <a asp-action="Index" class="btn btn-primary ">Go Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



