@using KaffaMaster.ViewModel
@{
	ViewData["Title"] = "Index";
}
@{
	Layout = "_Layout";
}

@model List<Blog>

<main>
	<section class="blog-section dark-con">
		<div class="container">
			<div class="d-flex flex-column align-items-center mb-5">
				<div class="img-container">
					<img src="../assets/images/blog_01-600x400.jpg" alt="">
				</div>
				<div class="text-container">
					<div>
						<a href="#" class="langdata"><span>Roasted coffee</span></a>
						<a href="#">
							<h1 class="langdata">Coffee Machine Rental and Delivery Business</h1>
						</a>
						<p>
							Often the subject of controversy among athletes and followers of a healthy lifestyle is
							disputes about the admissibility of drinking coffee before or after training. This is
							normal
							because people who play sports try to monitor the health of their bodies and eat
							predominantly healthy and non-harmful foods. And although the composition of the coffee
							drink has long been studied by scientists, the debate about its effect on the body has
							not
							subsided so far. But be that as it …
						</p>
					</div>
					<div class="d-flex gap-4">
						<div class="d-flex align-items-center gap-2">
							<i class="fa-solid fa-calendar"></i>
							<p class="langdata">February 12, 2024</p>
						</div>
						<div class="d-flex align-items-center gap-2">
							<i class="fa-solid fa-comment"></i>
							<p>0</p>
						</div>
						<div class="d-flex align-items-center gap-2">
							<i class="fa-solid fa-eye"></i>
							<p>763</p>
						</div>
					</div>
				</div>
			</div>
			<div class="d-flex flex-column align-items-center">
				<div class="img-container">
					<img src="../assets/images/blog_02-600x400.jpg" alt="">
				</div>
				<div class="text-container">
					<div>
						<a href="#" class="langdata"><span>Roasted coffee</span></a>
						<a href="#">
							<h1 class="langdata">The Most Expensive Cup of Coffee in the USA</h1>
						</a>
						<p>
							Often the subject of controversy among athletes and followers of a healthy lifestyle is
							disputes about the admissibility of drinking coffee before or after training. This is
							normal
							because people who play sports try to monitor the health of their bodies and eat
							predominantly healthy and non-harmful foods. And although the composition of the coffee
							drink has long been studied by scientists, the debate about its effect on the body has
							not
							subsided so far. But be that as it …
						</p>
					</div>
					<div class="d-flex gap-4">
						<div class="d-flex align-items-center gap-2">
							<i class="fa-solid fa-calendar"></i>
							<p class="langdata">February 12, 2024</p>
						</div>
						<div class="d-flex align-items-center gap-2">
							<i class="fa-solid fa-comment"></i>
							<p>0</p>
						</div>
						<div class="d-flex align-items-center gap-2">
							<i class="fa-solid fa-eye"></i>
							<p>763</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
