@using KaffaMaster.ViewModel;


@{
	ViewData["Title"] = "Profile";
}
@model UserUpdateViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/066942706e.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="mobile" style="left: 100%;">
        <section class="mobile-logo py-3 pb-md-5">
            <div class="container-mobile">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="img-container">
                        <img src="~/assets/images/kaffa_logo_dark_2x.png" alt="">
                    </div>
                    <button class="icon-x">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </div>
        </section>
        <section class="mobile-nav">
            <div class="container-mobile">
                <ul>
                    <li class="d-flex justify-content-between align-items-center">
                        <a class="active langdata" asp-action="Index" asp-controller="Home">Home</a>
                        <button class="icons">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        <a href="faq.html" class="langdata">FAQ</a>
                        <button class="icons">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        <a href="products.html" class="langdata"> Products</a>
                        <button class="icons">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        <a href="blog.html" class="langdata">Blog</a>
                        <button class="icons">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        <a href="contacts.html" class="langdata">Contacts</a>
                        <button class="icons">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </section>
        <section class="search-section">
            <div class="container-mobile">
                <div class="d-flex justify-content-between align-items-center py-3">
                    <div class="d-flex gap-4 align-items-center icons-left">
                        <div class="icons">
                            <a href="../pages/cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
                        </div>
                        <div class="icons d-flex justify-content-center align-items-center">
                            <p id="cart-amount">0</p>
                        </div>
                    </div>
                    <div class="my-account-btn icons">
                    </div>
                </div>
                <div>
                    <form method="get">
                        <input type="search" placeholder="Search">
                        <button><i class="fa-solid fa-magnifying-glass icon"></i></button>
                    </form>
                </div>
            </div>
        </section>
    </section>
    <header class="header-common my-account">

    </header>
    <main class="dark-con">
        <section id="my-account-main" style="padding: 70px 0;">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div style="margin-bottom: 20px;padding: 20px;"
                             class="d-flex flex-column align-items-center justify-content-center">
                            <div class="img-container" style="width: 30%" >
                                
                                <input type="file"  hidden><img src="~/assets/images/logo.png" /></input>
                            </div>
                            <div>
                                <h2 class="m-0">@User.Identity.Name</h2>
                            </div>
                        </div>
                        <div class="d-flex flex-column account-sidebar">
                            <button id="btn" style="padding: 20px;" class="text-start active">
                                <a><i class="fa-solid fa-user"></i> Account Details</a>
                            </button>
                            <button id="btn" style="padding: 20px;" class="text-start">
                                <a class="btn p-0" asp-action="ForgotPassword" asp-controller="auth"><i class="fa-solid fa-key"></i> Change Password</a>
                            </button>
                            <button id="btn" style="padding: 20px;" class="text-start">
                                <a class="btn p-0" asp-action="Index" asp-controller="orders"><i class="fa-solid fa-ticket"></i> My Orders</a>
                            </button>
                            <button id="btn" style="padding: 20px;" class="text-start">
                                <a><i class="fa-regular fa-credit-card"></i> Payment Methods</a>
                            </button>
                            <button id="btn" style="padding: 20px;" class="text-start">
                                <a class="btn p-0" asp-action="Index" asp-controller="FAQ"><i class="fa-solid fa-circle-info" ></i> Need Help</a>
                            </button>
                            <button id="btn" style="padding: 20px;" class="log-out text-start">
                                <a class="btn p-0" asp-action="logout" asp-controller="auth"><i class="fa-solid fa-door-open"></i> Log out</a>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div>
                            <h1>Account Details</h1>
                        </div>

                        <form asp-action="UpdateProfile"  class="mt-5" method="post">
                                <div class="d-flex flex-column">
                                    <div class="mb-2">

                                        <h6>User Name</h6>
                                        <div>

                                            <input  style="width: 100%; padding: 15px 10px ; border-radius:50px" asp-for="UserName">

                                        </div>
                                    </div>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                                    <div>
                                        <h6>Your Email</h6>
                                    <input style="width: 100%; padding: 15px 10px;border-radius:50px" type="text" asp-for="Email" readonly>
                                    </div>

                                <span asp-validation-for="Email" class="text-danger"></span>
                                <div class="mb-2">

                                    <h6>Current Password</h6>
                                    <div>

                                        <input style="width: 100%; padding: 15px 10px;border-radius:50px" asp-for="CurrentPassword" placeholder="CurrentPassword">

                                    </div>
                                </div>

                                <span asp-validation-for="CurrentPassword" class="text-danger" ></span>
                                <div class="mb-2">

                                    <h6>New Password</h6>
                                    <div>

                                        <input style="width: 100%; padding: 15px 10px;border-radius:50px" asp-for="NewPassword" placeholder="NewPassword">

                                    </div>
                                </div>
                                <input value="@TempData["SuccessMessage"]" id="success-message" style="border:none; border-radius:50px;width:250px"  readonly/>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div style="background-color:#4E8B55; height:100%;width:10% ; margin:10px;border-radius:50px" class="langdata">
                                    <button style="color:white;"><b>Save</b></button>
                                    </div>

                                </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
@* 
    <script src="~/assets/js/partials.js"></script> *@
    <script src="~/assets/js/index.js"></script>
</body>

</html>