
@{
    ViewData["Title"] = "Index";
}

<main>
    <section class="accordion dark-con">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="mb-5">
                        <h2 class="mb-4 langdata">Every day we help for our customers</h2>
                        <p class="mb-3">
                            Phasellus porta turpis a lectus dapibus aliquet. Maecenas arcu est, consectetur eget
                            ipsum
                            ut, vulputate laoreet purus. Proin facilisis sem non turpis vulputate semper. Lorem
                            ipsum
                            dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <ul>
                            <li class="langdata">Managment</li>
                            <li class="langdata">Analytics</li>
                            <li class="langdata">Consultation</li>
                            <li class="langdata">Engineering</li>
                        </ul>
                    </div>
                    <div class="mb-4">
                        <h2 class="mb-4 langdata">If you need more help</h2>
                        <p class="mb-4">
                            Maecenas arcu est, consectetur eget ipsum ut, vulputate. Proin facilisis sem non turpis
                            vulputate semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                        <button class="langdata">Read More</button>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="accordion-container">
                        <div class="label d-flex justify-content-between align-items-center">
                            <h5 class="langdata">Is it possible to pay for an order with Visa and MasterCard payment cards?</h5>
                            <i id="plus-icon" class="fa-solid fa-plus"></i>
                        </div>
                        <div class="dropdown">
                            <ul class=”disc”>
                                <li>
                                    Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae
                                    accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in
                                    venenatis.
                                </li>
                                <li>
                                    Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci,
                                    volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel
                                    velit nec turpis fermentum consectetur a non sapien.
                                </li>
                                <li>
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet
                                    magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-container">
                        <div class="label d-flex justify-content-between align-items-center">
                            <h5 class="langdata">Is it possible to pay by credit card?</h5>
                            <i id="plus-icon" class="fa-solid fa-plus"></i>
                        </div>
                        <div class="dropdown">
                            <ul class=”disc”>
                                <li>
                                    Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae
                                    accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in
                                    venenatis.
                                </li>
                                <li>
                                    Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci,
                                    volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel
                                    velit nec turpis fermentum consectetur a non sapien.
                                </li>
                                <li>
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet
                                    magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-container">
                        <div class="label d-flex justify-content-between align-items-center">
                            <h5 class="langdata">What payment methods exist in your company?</h5>
                            <i id="plus-icon" class="fa-solid fa-plus"></i>
                        </div>
                        <div class="dropdown">
                            <ul class=”disc”>
                                <li>
                                    Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae
                                    accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in
                                    venenatis.
                                </li>
                                <li>
                                    Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci,
                                    volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel
                                    velit nec turpis fermentum consectetur a non sapien.
                                </li>
                                <li>
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet
                                    magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-container">
                        <div class="label d-flex justify-content-between align-items-center">
                            <h5 class="langdata">Can I return the product after purchase?</h5>
                            <i id="plus-icon" class="fa-solid fa-plus"></i>
                        </div>
                        <div class="dropdown">
                            <ul class=”disc”>
                                <li>
                                    Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae
                                    accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in
                                    venenatis.
                                </li>
                                <li>
                                    Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci,
                                    volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel
                                    velit nec turpis fermentum consectetur a non sapien.
                                </li>
                                <li>
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet
                                    magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-container">
                        <div class="label d-flex justify-content-between align-items-center">
                            <h5 class="langdata">How do I use a promotional code?</h5>
                            <i id="plus-icon" class="fa-solid fa-plus"></i>
                        </div>
                        <div class="dropdown">
                            <ul class=”disc”>
                                <li>
                                    Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae
                                    accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in
                                    venenatis.
                                </li>
                                <li>
                                    Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci,
                                    volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel
                                    velit nec turpis fermentum consectetur a non sapien.
                                </li>
                                <li>
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet
                                    magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-container">
                        <div class="label d-flex justify-content-between align-items-center">
                            <h5 class="langdata">What is the validity period of the gift certificate?</h5>
                            <i id="plus-icon" class="fa-solid fa-plus"></i>
                        </div>
                        <div class="dropdown">
                            <ul class=”disc”>
                                <li>
                                    Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae
                                    accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in
                                    venenatis.
                                </li>
                                <li>
                                    Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci,
                                    volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel
                                    velit nec turpis fermentum consectetur a non sapien.
                                </li>
                                <li>
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet
                                    magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-container">
                        <div class="label d-flex justify-content-between align-items-center">
                            <h5 class="langdata">What if the prepaid goods are not delivered?</h5>
                            <i id="plus-icon" class="fa-solid fa-plus"></i>
                        </div>
                        <div class="dropdown">
                            <ul class=”disc”>
                                <li>
                                    Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae
                                    accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in
                                    venenatis.
                                </li>
                                <li>
                                    Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci,
                                    volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel
                                    velit nec turpis fermentum consectetur a non sapien.
                                </li>
                                <li>
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet
                                    magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-container">
                        <div class="label d-flex justify-content-between align-items-center">
                            <h5 class="langdata">Where and how can I exchange or refund?</h5>
                            <i id="plus-icon" class="fa-solid fa-plus"></i>
                        </div>
                        <div class="dropdown">
                            <ul class=”disc”>
                                <li>
                                    Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae
                                    accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in
                                    venenatis.
                                </li>
                                <li>
                                    Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci,
                                    volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel
                                    velit nec turpis fermentum consectetur a non sapien.
                                </li>
                                <li>
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet
                                    magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-container">
                        <div class="label d-flex justify-content-between align-items-center">
                            <h5 class="langdata">Is it possible to pay for an order with Visa and MasterCard payment cards?</h5>
                            <i id="plus-icon" class="fa-solid fa-plus"></i>
                        </div>
                        <div class="dropdown">
                            <ul class=”disc”>
                                <li>
                                    Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae
                                    accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in
                                    venenatis.
                                </li>
                                <li>
                                    Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci,
                                    volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel
                                    velit nec turpis fermentum consectetur a non sapien.
                                </li>
                                <li>
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet
                                    magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-container">
                        <div class="label d-flex justify-content-between align-items-center">
                            <h5 class="langdata">Is it possible to pay by credit card?</h5>
                            <i id="plus-icon" class="fa-solid fa-plus"></i>
                        </div>
                        <div class="dropdown">
                            <ul class=”disc”>
                                <li>
                                    Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae
                                    accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in
                                    venenatis.
                                </li>
                                <li>
                                    Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci,
                                    volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel
                                    velit nec turpis fermentum consectetur a non sapien.
                                </li>
                                <li>
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet
                                    magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-container">
                        <div class="label d-flex justify-content-between align-items-center">
                            <h5 class="langdata">What payment methods exist in your company?</h5>
                            <i id="plus-icon" class="fa-solid fa-plus"></i>
                        </div>
                        <div class="dropdown">
                            <ul class=”disc”>
                                <li>
                                    Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae
                                    accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in
                                    venenatis.
                                </li>
                                <li>
                                    Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci,
                                    volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel
                                    velit nec turpis fermentum consectetur a non sapien.
                                </li>
                                <li>
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet
                                    magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-container">
                        <div class="label d-flex justify-content-between align-items-center">
                            <h5 class="langdata">Can I return the product after purchase?</h5>
                            <i id="plus-icon" class="fa-solid fa-plus"></i>
                        </div>
                        <div class="dropdown">
                            <ul class=”disc”>
                                <li>
                                    Sed tincidunt lacus risus, eget suscipit sapien feugiat ac. Maecenas vitae
                                    accumsan odio, at venenatis libero. Suspendisse viverra placerat eros in
                                    venenatis.
                                </li>
                                <li>
                                    Vestibulum interdum ex eu dignissim eleifend. Morbi molestie libero orci,
                                    volutpat pulvinar ipsum efficitur non. Aliquam ut ligula augue. Pellentesque vel
                                    velit nec turpis fermentum consectetur a non sapien.
                                </li>
                                <li>
                                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
                                    Curae; Phasellus imperdiet, quam sit amet convallis tempor, nisl metus aliquet
                                    magna, et imperdiet nibh diam vel elit. Phasellus mollis ac augue sed varius.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
