
@model SubscriptionViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/066942706e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="loading"></div>
    <section id="loading-pages" class="mobile" style="left: 100%;">
        <section class="mobile-logo py-3 pb-md-5">
            <div class="container-mobile">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="img-container">
                        <img src="~/assets/images/kaffa_logo_dark_2x.png" alt="">
                    </div>
                    <button class="icon-x">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </div>
        </section>
        <section class="mobile-nav">
            <div class="container-mobile">
                <ul>
                    <li class="d-flex justify-content-between align-items-center">
                        <a class="active langdata" href="index.html">Home</a>
                        <button class="icons">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        <a class="langdata" href="pages/faq.html">FAQ</a>
                        <button class="icons">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        <a class="langdata" href="pages/products.html"> Products</a>
                        <button class="icons">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        <a class="langdata" href="pages/blog.html">Blog</a>
                        <button class="icons">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </li>
                    <li class="d-flex justify-content-between align-items-center">
                        <a class="langdata" href="pages/contacts.html">Contacts</a>
                        <button class="icons">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </section>
        <section class="search-section">
            <div class="container-mobile">
                <div class="d-flex justify-content-between align-items-center py-3">
                    <div class="d-flex gap-4 align-items-center icons-left">
                        <div class="icons">
                            <a href="./pages/cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
                        </div>
                        <div class="icons d-flex justify-content-center align-items-center">
                            <p id="cart-amount2">0</p>
                        </div>
                    </div>
                    <div class="icons">
                        <a asp-action="Login" asp-controller="auth"><i class="fa-solid fa-user"></i></a>
                    </div>
                </div>
                <div>
                    <form>
                        <input type="search" placeholder="Search">
                        <button><i class="fa-solid fa-magnifying-glass icon"></i></button>
                    </form>
                </div>
            </div>
        </section>
    </section>
    <header id="loading-pages" class="home">
        <div class="background"></div>
        <section class="header-logo py-3">
            <div class="container">
                <div class="dark-mode-con position-absolute d-block d-xl-none">
                    <button class="brands d-flex justify-content-center align-items-center dark-mode-btn">
                        <i class="fa-solid fa-moon"></i>
                    </button>
                </div>
                <div class="d-flex justify-content-center justify-content-xl-between align-items-center">
                    <div class="d-none d-xl-flex align-items-center">
                        <p class="follow-us langdata">Follow us</p>
                        <div class="d-flex gap-2">
                            <div class="brands d-flex justify-content-center align-items-center">
                                <i class="fa-brands fa-twitter"></i>
                            </div>
                            <div class="brands d-flex justify-content-center align-items-center">
                                <i class="fa-brands fa-facebook-f"></i>
                            </div>
                            <div class="brands d-flex justify-content-center align-items-center">
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                            <div class="brands d-flex justify-content-center align-items-center">
                                <i class="fa-brands fa-youtube"></i>
                            </div>
                        </div>
                    </div>
                    <div class="img-container">
                        <img src="~/assets/images/kaffa_logo_light_2x.png" alt="">
                    </div>
                    <div class="d-none d-xl-flex gap-4 icons-right">
                        <button class="brands d-flex justify-content-center align-items-center dark-mode-btn">
                            <i class="fa-solid fa-moon"></i>
                        </button>
                        <div class="brands d-flex justify-content-center align-items-center">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a asp-action="Profile" asp-controller="User"><i class="fa-solid fa-user"></i></a>
                            }
                            else
                            {
                            
                                <a asp-action="Login" asp-controller="Auth"><i class="fa-solid fa-user"></i></a>
                                
                            }
                            
                        </div>
                        <div class="brands d-flex justify-content-center align-items-center">
                            <a href="./pages/cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
                            @* <div class="shopping-amount d-flex justify-content-center align-items-center">
                                <p id="cart-amount">0</p>
                            </div> *@
                        </div>                        

                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="brands d-flex justify-content-center align-items-center">
                                <a asp-action="Logout" asp-controller="auth"><i class="fa-solid fa-right-from-bracket"></i></a>
                            </div>
                        }
                        <div class="brands d-flex justify-content-center align-items-center">
                            <button class="lang-btn"><p>AZ</p></button>
                        </div>
                    </div>
                </div>
                <div class="hamburger-menu d-block d-xl-none">
                    <button id="hamburger-icon">
                        <span class="lines"></span>
                        <span class="lines"></span>
                        <span class="lines"></span>
                    </button>
                </div>
            </div>
        </section>
        <section class="d-none d-xl-block navigation py-3">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <ul class="d-flex gap-5 mx-3 p-0">
                        <li><a class="active langdata" asp-action="Index" asp-controller="Home">Home <i class="fa-solid fa-chevron-left"></i></a></li>
                        <li><a class="langdata" asp-action="Index" asp-controller="FAQ">FAQ <i class="fa-solid fa-chevron-left"></i></a></li>
                        <li><a class="langdata" asp-action="Index" asp-controller="Shop">Products <i class="fa-solid fa-chevron-left"></i></a></li>
                        <li><a class="langdata" asp-action="Index" asp-controller="Blog">Blog <i class="fa-solid fa-chevron-left"></i></a></li>
                        <li><a class="langdata" asp-action="Index" asp-controller="Contact">Contacts <i class="fa-solid fa-chevron-left"></i></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="hero-section">
            <div class="container">
                <div class="d-flex align-items-center flex-column">
                    <h1 class="heading-green langdata">Natural</h1>
                    <h1 class="langdata">Brazilian Coffee</h1>
                    <p>
                        Curabitur imperdiet varius lacus, id placerat purus vulputate non. Fusce in felis vel arcu
                        maximus
                        placerat eu ut arcu. Ut nunc ex, gravida vel porttitor et, pretium ac sapien.
                    </p>
                </div>
            </div>
        </section>
    </header>
    <section id="loading-pages" class="leaves">
        <div class="container">
            <div class="coffee-smoke">
                <div class="img-container">
                    <img src="~/assets/images/coffee-smoke.png" alt="">
                </div>
            </div>
            <div class="img-container">
                <img src="~/assets/images/coffee-bean.png" alt="">
            </div>
        </div>
    </section>
        @RenderBody()
    <footer id="loading-pages">
        <div class="background"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-4">
                    <div class="img-container">
                        <img src="~/assets/images/kaffa_logo_light_2x.png" alt="">
                    </div>
                    <p class="my-5">
                        Etiam consequat sem ullamcorper, euismod
                        metus sit amet, tristique justo. Vestibulum
                        mattis, nisi ut.
                    </p>
                    <div class="icons d-flex gap-5">
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-4 mt-5 mt-lg-0   ">
                    <h2 class="langdata">Contact Info</h2>
                    <div class="d-flex my-4 gap-3">
                        <div><i class="fa-solid fa-location-dot"></i></div>
                        <div>
                            <h6 class="langdata">Our location</h6>
                            <p>Rio de Janeiro, RJ Brazil, 04103 Route</p>
                        </div>
                    </div>
                    <div class="d-flex gap-3">
                        <div><i class="fa-solid fa-phone"></i></div>
                        <div>
                            <h6 class="langdata">Phones:</h6>
                            <div>
                                <a href="tel:+49078-039-23-11">
                                    +49078-039-23-11
                                </a>
                            </div>
                            <div>
                                <a href="tel:+49078-028-55-60">
                                    +49078-028-55-60
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-none d-xl-block col-xl-4">
                    <h2 class="langdata">Subscribe</h2>
                    <form asp-controller="Subscription" asp-action="Subscribe" class="mt-4" method="post">
                        <div>
                            <input asp-for="Email" placeholder="Your email ..." class="email" type="email">
                            <button class="langdata">Subscribe</button>
                        </div>
                        <div class="mt-4">
                            <input type="checkbox">
                            <label for="" class="langdata">I have read and agree to the terms & conditions</label>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </footer>
    <script src="~/assets/js/index.js"></script>
</body>

</html>
@section language{
    <script>

        const langData = document.querySelectorAll(".langdata"),
            langBtn = document.querySelector(".lang-btn")

        if (window.location.pathname === "/index.html") {
            let dataLang = {
                eng: ["Home", "FAQ", "Products", "Blog", "Contacts", "Follow us", `Home <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Products <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Blog <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Contacts <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Natural", "Brazilian Coffee", "Arabica & Robusta",
                    "Exclusive Planted Coffee", "Download price", "Read more", "Shop now", "Arabica Green", "Arabica Roasted", "Robusta Roasted", "Mixed Sorts",
                    "Divine", "Aroma <br> in Every Cup", "Read More", "Pure Grades", "Wide Assortment", "Proper Roasting", "High Quality", "Excellent Grinding",
                    "Awesome Aroma", "How we Prepare our Beans", "Watch Video", "Read more", "Selected Varieties", "Hectares of Plantations", "Coffee Pickers",
                    "Consumer Countries", "Online Store", "Popular Products", "Ethiopia Arabica", "Pure Grade", "Amazing Vanilla Aroma", "Strong Roasting",
                    "Ultra Grinding", "Add to cart", "More info", "Online Store", "Contact Info", "Our location", "Phones:", "Subscribe", "Subscribe",
                    "I have read and agree to the terms & conditions"],
                az: ["Ana Səhifə", "FAQ", "Məhsullar", "Məqalə", "Kontanklar", "Bizi İzləyin", `Ana Səhifə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Məhsullar <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Məqalə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Əlaqə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Təbii", "Braziliya Kofesi", "Arabika və Robusta",
                    "Ekskluziv Yetişmiş Kofe", "Qiyməti Yükləyin", "Daha çox", "İndi alın", "Yaşıl Arabika", "Qızardılmış Arabika", "Qızardılmış Robusta", "Qarışıq Növlər",
                    "Hər fincanda", "Mükəmməl <br> Dad", "Daha çox", "Əla Növ", "Geniş çeşidlənmə", "Düzgün Qızarma", "Yüksək Keyfiyyət", "Mükəmməl Üyüdülmə",
                    "Mükəmməl Aroma", "Kofelərimiz Necə Hazırlanır", "Videoyu İzləyin", "Daha çox", "Seçilmiş Növ", "Hektar Plantasiya", "Kofe Mütəxəssisləri",
                    "İstehlakçı Ölkə", "Onlayn Mağaza", "Populyar Məhsullar", "Efiopiya Arabika", '<i class="fa-solid fa-check"></i> Əla növ', '<i class="fa-solid fa-check"></i>Mükəmməl Vanil Aroması', '<i class="fa-solid fa-check"></i> Düzgün Qızardılma',
                    '<i class="fa-solid fa-check"></i> Ultra Üyüdülmə', "Səbətə Əlavə Edin", "Daha çox info", "Onlayn Mağaza", "Kontakt İnfo", "Ünvanımız", "Telefonlar:", "Abunə olun", "Abunə olun",
                    "Şərtləri və qaydaları oxudum və qəbul edirəm"]
            }
            language(dataLang)
        } else if (window.location.pathname === "/pages/faq.html") {
            let dataLang = {
                eng: ["Home", "FAQ", "Products", "Blog", "Contacts", `Home <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Products <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Blog <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Contacts <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "FAQ", "Home", "Every day we help for our customers", "Managment", "Analytics", "Consultation", "Engineering", "If you need more help", "Read More",
                    "Is it possible to pay for an order with Visa and MasterCard payment cards?", "Is it possible to pay by credit card?",
                    "What payment methods exist in your company?", "Can I return the product after purchase?", "How do I use a promotional code?",
                    "What is the validity period of the gift certificate?", "What if the prepaid goods are not delivered?", "Where and how can I exchange or refund?",
                    "Is it possible to pay for an order with Visa and MasterCard payment cards?", "Is it possible to pay by credit card?", "What payment methods exist in your company?",
                    "Can I return the product after purchase?", "Contact Info", "Our location", "Phones:", "Subscribe", "Subscribe",
                    "I have read and agree to the terms & conditions"],
                az: ["Ana Səhifə", "FAQ", "Məhsullar", "Məqalə", "Əlaqə", `Ana Səhifə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Məhsullar <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Məqalə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Əlaqə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Tez-Tez Verilən Suallar", "Ana Səhifə", "Hər gün müştərilərimizə yardım edirik", "İdarəetmə", "Analitika", "Konsultasiya", "Mühəndislik", "Yardıma ehtiyacınız olarsa", "Daha Ətraflı",
                    "Visa və Mastercard ödəniş kartları ilə sifarişi ödəmək mümkündür?", "Kredit kartı ilə ödəniş mümkündürmü?",
                    "Şirkətinizdə hansı ödəniş üsulları mövcuddur?", "Məhsulu satın aldıqdan sonra geri qaytarmaq mümkündürmü?", "Promo kodu necə istifadə edə bilərəm?",
                    "Hədiyyə sertifikatının etibarlılıq müddəti nə qədərdir?", "Əvvəlcədən ödənişi edilmiş məhsullar çatdırılmazsa nə etməli?", "Harada və necə məhsulu dəyişdirə və ya geri qaytara bilərəm?",
                    "Visa və Mastercard ödəniş kartları ilə sifarişi ödəmək mümkündürmü?", "Kredit kartı ilə ödəniş mümkündürmü?", "Şirkətinizdə hansı ödəniş üsulları mövcuddur?",
                    "Məhsulu satın aldıqdan sonra geri qaytarmaq mümkündürmü?", "Kontakt İnfo", "Ünvanımız", "Telefonlar:", "Abunə olun", "Abunə olun",
                    "Şərtləri və qaydaları oxudum və qəbul edirəm"]
            }
            language(dataLang)
        } else if (window.location.pathname === "/pages/products.html") {
            let dataLang = {
                eng: ["Home", "FAQ", "Products", "Blog", "Contacts", `Home <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Products <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Blog <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Contacts <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Products", "Home", "PRODUCT CATEGORIES", "Arabica Green", "Arabica Roasted", "Black Coffee", "Mixed Sorts", "Products", "Bakery & Sweets",
                    "Black & Green Tea", "Cakes", "Chocolate", "Coffee Drinks", "Fresh Croissants", "Sandwiches", "Sweet Cookies",
                    "Robusta Roasted", "PRODUCT TAGS", "arabica", "chocolate", "coffee", "delivery", "espresso", "Showing 1-6 of 19 results",
                    "Default sorting", "Sort by popularity", "Sort by average rating", "Sort by latest", "Sort by price: low to high", "Sort by price: high to low",
                    "Contact Info", "Our location", "Phones:", "Subscribe", "Subscribe",
                    "I have read and agree to the terms & conditions"],
                az: ["Ana Səhifə", "FAQ", "Məhsullar", "Məqalə", "Əlaqə", `Ana Səhifə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Məhsullar <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Məqalə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Əlaqə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Məhsullar", "Ana Səhifə", "MƏHSUL KATEQORİYASI", "Yaşıl Arabika", "Qızarmış Arabika", "Qara Kofe", "Qarışıq Növlər", "Məhsullar", "Şirniyyatlar",
                    "Qara & Yaşıl Çay", "Tortlar", "Şokolad", "Kofe İçkiləri", "Təzə Kruvasanlar", "Sendviçlər", "Şirin Peçenyelər",
                    "Qızarmış Robusta", "MƏHSUL TEQLƏRİ", "arabika", "şokolad", "kofe", "çatdırılma", "espresso", "19 nəticədən 1-6 arası göstərilir",
                    "Varsayılan çeşidləmə", "Populyarlığa görə çeşidləmə", "Ortalama reytinqə görə çeşidləmə", "Sonuncuya görə çeşidləmə", "Qiymətə görə çeşidləmə: azdan çoxa",
                    "Qiymətə görə çeşidləmə: çoxdan aza", "Kontakt İnfo", "Ünvanımız", "Telefonlar:", "Abunə olun", "Abunə olun",
                    "Şərtləri və qaydaları oxudum və qəbul edirəm"]
            }
            language(dataLang)
        } else if (window.location.pathname === "/pages/blog.html") {
            let dataLang = {
                eng: ["Home", "FAQ", "Products", "Blog", "Contacts", `Home <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Products <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Blog <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Contacts <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Blog", "Home", "<span>Roasted coffee</span>", "Coffee Machine Rental and Delivery Business", "February 12, 2024", "<span>Roasted coffee</span>", "The Most Expensive Cup of Coffee in the USA", "February 12, 2024", "Contact Info", "Our location", "Phones:", "Subscribe", "Subscribe",
                    "I have read and agree to the terms & conditions"],
                az: ["Ana Səhifə", "FAQ", "Məhsullar", "Məqalə", "Əlaqə", `Ana Səhifə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Məhsullar <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Məqalə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Əlaqə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Məqalə", "Ana Səhifə", "<span>Qızadılmış kofe</span>", "Qəhvə Maşınlarının İcarəsi və Çatdırılması Biznesi", "12 Fevral, 2024", "<span>Qızadılmış kofe</span>", "ABŞ-ın ən bahalı qəhvəsi", "12 Fevral, 2024", "Kontakt İnfo", "Ünvanımız", "Telefonlar:", "Abunə olun", "Abunə olun",
                    "Şərtləri və qaydaları oxudum və qəbul edirəm"]
            }
            language(dataLang)
        } else if (window.location.pathname === "/pages/contacts.html") {
            let dataLang = {
                eng: ["Home", "FAQ", "Products", "Blog", "Contacts", `Home <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Products <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Blog <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Contacts <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Contacts", "Home", "Location", "29 Nicolas str, New York, 987597-50", "Phones", "Email", "Working Hours", "Wednesday - Sunday", "7:00 AM - 5:00 PM",
                    "Send Message", "Contact Info", "Our location", "Phones:", "Subscribe", "Subscribe",
                    "I have read and agree to the terms & conditions"],
                az: ["Ana Səhifə", "FAQ", "Məhsullar", "Məqalə", "Əlaqə", `Ana Səhifə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Məhsullar <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Məqalə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Əlaqə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Əlaqə", "Ana Səhifə", "Ünvan", "29 Nikolas küç, Nyu York, 987597-50", "Telefon", "Elektron Poçt", "İşləmə Saatları", "Çərşənbə - Bazar", "07:00 - 17:00",
                    "Mesaj Göndərin", "Kontakt İnfo", "Ünvanımız", "Telefonlar:", "Abunə olun", "Abunə olun",
                    "Şərtləri və qaydaları oxudum və qəbul edirəm"]
            }
            language(dataLang)
        } else if (window.location.pathname === "/pages/details.html") {
            let dataLang = {
                eng: ["Home", "FAQ", "Products", "Blog", "Contacts", `Home <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Products <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Blog <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Contacts <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Details", "Home", "Contact Info", "Our location", "Phones:", "Subscribe", "Subscribe",
                    "I have read and agree to the terms & conditions"],
                az: ["Ana Səhifə", "FAQ", "Məhsullar", "Məqalə", "Əlaqə", `Ana Səhifə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Məhsullar <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Məqalə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Əlaqə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Təfərrüatlar", "Ana Səhifə", "Kontakt İnfo", "Ünvanımız", "Telefonlar:", "Abunə olun", "Abunə olun",
                    "Şərtləri və qaydaları oxudum və qəbul edirəm"]
            }
            language(dataLang)
        } else if (window.location.pathname === "/pages/cart.html") {
            let dataLang = {
                eng: ["Home", "FAQ", "Products", "Blog", "Contacts", `Home <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Products <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Blog <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Contacts <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Cart", "Home", "Contact Info", "Our location", "Phones:", "Subscribe", "Subscribe",
                    "I have read and agree to the terms & conditions"],
                az: ["Ana Səhifə", "FAQ", "Məhsullar", "Məqalə", "Əlaqə", `Ana Səhifə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Məhsullar <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Məqalə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Əlaqə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Səbət", "Ana Səhifə", "Kontakt İnfo", "Ünvanımız", "Telefonlar:", "Abunə olun", "Abunə olun",
                    "Şərtləri və qaydaları oxudum və qəbul edirəm"]
            }
            language(dataLang)
        } else if (window.location.pathname === "/pages/log-in.html") {
            let dataLang = {
                eng: ["Home", "FAQ", "Products", "Blog", "Contacts", `Home <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Products <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Blog <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Contacts <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Log In", "Home", "Login", "Username or email address <span>*</span>", "Password <span>*</span>", "Log in", "Sign up", "Remember me",
                    "Lost your password?", "Contact Info", "Our location", "Phones:", "Subscribe", "Subscribe",
                    "I have read and agree to the terms & conditions"],
                az: ["Ana Səhifə", "FAQ", "Məhsullar", "Məqalə", "Əlaqə", `Ana Səhifə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Məhsullar <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Məqalə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Əlaqə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Daxil olun", "Ana Səhifə", "Daxil olun", "İstifadəçi adı və ya e-mail <span>*</span>", "Şifrə <span>*</span>", "Daxil olun", "Qeydiyyatdan keçin",
                    "Yadda saxla", "Şifrənizi unutmusunuz?", "Kontakt İnfo", "Ünvanımız", "Telefonlar:", "Abunə olun", "Abunə olun",
                    "Şərtləri və qaydaları oxudum və qəbul edirəm"]
            }
            language(dataLang)
        } else if (window.location.pathname === "/pages/sign-up.html") {
            let dataLang = {
                eng: ["Home", "FAQ", "Products", "Blog", "Contacts", `Home <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Products <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Blog <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Contacts <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Sign Up", "Home", "Sign up", "First Name <span>*</span>", "Last Name <span>*</span>", "Username <span>*</span>", "Email <span>*</span>", "Password <span>*</span>", "Sign up", "Remember me", "Contact Info", "Our location", "Phones:", "Subscribe", "Subscribe",
                    "I have read and agree to the terms & conditions"],
                az: ["Ana Səhifə", "FAQ", "Məhsullar", "Məqalə", "Əlaqə", `Ana Səhifə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Məhsullar <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Məqalə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Əlaqə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Qeydiyyat", "Ana Səhifə", "Qeydiyyat", "Ad <span>*</span>", "Soyad <span>*</span>", "İstifadəçi adı <span>*</span>", "E-mail <span>*</span>", "Şifrə <span>*</span>", "Qeydiyyatdan keç", "Yadda saxla", "Kontakt İnfo", "Ünvanımız", "Telefonlar:", "Abunə olun", "Abunə olun",
                    "Şərtləri və qaydaları oxudum və qəbul edirəm"]
            }
            language(dataLang)
        } else if (window.location.pathname === "/pages/my-account.html") {
            let dataLang = {
                eng: ["Home", "FAQ", "Products", "Blog", "Contacts", `Home <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Products <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Blog <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Contacts <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "My Account", "Home", "Contact Info", "Our location", "Phones:", "Subscribe", "Subscribe",
                    "I have read and agree to the terms & conditions"],
                az: ["Ana Səhifə", "FAQ", "Məhsullar", "Məqalə", "Əlaqə", `Ana Səhifə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `FAQ <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Məhsullar <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    `Məqalə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`, `Əlaqə <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>`,
                    "Hesabım", "Ana Səhifə", "Kontakt İnfo", "Ünvanımız", "Telefonlar:", "Abunə olun", "Abunə olun",
                    "Şərtləri və qaydaları oxudum və qəbul edirəm"]
            }
            language(dataLang)
        }

    </script>
}