@using KaffaMaster.Models;
@using KaffaMaster.ViewModel;


@{
    ViewData["Title"] = "Detail";
}

@model Product

<div class="content-wrapper">
    <div class="row d-flex">
        <div class="col-lg-6 ">
            <div class="card" style="width: 18rem; ">
                <img class="card-img-top" src="~/assets/images/@Model.PosterImage" style="max-width: 300px; max-height: 300px" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title d-flex justify-content-center align-items-center">@Model.Title</h2>
                    <h5>Price: $@Model.Price</h5>
                    <div class="btn-box d-flex  mt-3 justify-content-center align-items-center">
                        <a asp-action="Index" class="btn btn-primary">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


