@using KaffaMaster.ViewModel;

@{
    ViewData["Title"] = "ForgotPassword";
}
@model ForgotPasswordViewModel
<main>
    <section class="log-in dark-con">
        <div class="container">
            <h1 class="mb-3 langdata">Forgot Password</h1>
            <form method="post" class="d-flex flex-column gap-3">
                <label for="" class="langdata">email address <span>*</span></label>
                <input asp-for="Email" id="log-in-input" type="text">
                <span asp-validation-for="Email" class="text-danger"></span>
                <div class="d-flex align-items-center gap-3 flex-column flex-sm-row">
                    <button id="log-in-btn" class="langdata">Send</button>
                    <div asp-validation-summary="ModelOnly" class="text text-danger"></div>
                    
                </div>
                
            </form>
        </div>
    </section>
</main>



