@using KaffaMaster.ViewModel;

@{
    ViewData["Title"] = "ResetPassword";
}
@model SubmitResetPasswordViewModel

<main>
    <section class="log-in dark-con">
        <div class="container">
            <h1 class="mb-3 langdata">Reset Password</h1>
            <form method="post" class="d-flex flex-column gap-3">
                <label for="" class="langdata">password <span>*</span></label>
                <input asp-for="Password" id="log-in-input" type="text">
                <span asp-validation-for="Password" class="text-danger"></span>
                <label for="" class="langdata">confirm password<span>*</span></label>
                <input asp-for="ConfirmPassword" id="log-in-input" type="text">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <div class="d-flex align-items-center gap-3 flex-column flex-sm-row">
                    <div asp-validation-summary="ModelOnly" class="text text-danger"></div>
                    <button id="log-in-btn" class="langdata">Send</button>

                </div>

            </form>
        </div>
    </section>
</main>